body {
    background-color:#3a559a ;
}
h1 {
    font-size: 75px;
    font-style: italic;
    color: #043069;
    font-family: Kaushan Script;
} 
img {
    height: 100px;
}
<<<<<<< HEAD

.container {
    display: flex;
    align-items: center;
}

=======
     
>>>>>>> d54637f0773926939913467c184f73fd6df409d4
