body {
    background-color:#3a559a ;
}
h1 {
    font-size: 75px;
    font-style: italic;
    color: #043069;
    font-family: Kaushan Script;
} 
img {
    height: 100px;
}

.container {
    display: flex;
    align-items: center;
}

