body {
    background-color:#3a559a;
}
h1 {
    font-size: 75px;
    font-style: italic;
    color:#043069;
    font-family: Kaushan Script;
}
h2 {
    font-size: 32px;
    font-style: italic;
    color:#043069;
    font-family: Kaushan Script;
}
h3 {
    font-size: 32px;
    font-style: italic;
    color:#043069;
    font-family: Kaushan Script;
}