body{
    background-color: #A30C1D;
}
h3{
    color: #4B0404;
    font-family: Abhaya Libre;
    font-size: 24;
}
h4{
    color: #ccbebe;
    font-family: Abhaya Libre;
    font-size: 24;
}
.btn{
    color: #ffffff;
    background-color: #A30C1D;
}
.texto{
    
    background-color: #6F0A0A;
    border: #4B0404;
    border-radius: 25px;
    font-size: 15px;
}
.enviar{
    background-color: #6F0A0A;
    border: #4B0404;
    border-radius: 25px;
    font-size: 15px;
}
h5{
    color: #4B0404;
    font-family: Abhaya Libre;
    font-size: 20;
}
h6{
    color: #ccbebe;
    font-family: Abhaya Libre;
    font-size: 20;
}