body {
    background-color: #ae4d4d;
}
h1{
    font-style: inherit;
    font-size: 94px;
    color: #5c1e1e;
    font-family: Luxurious Script;
    border: none;
    margin: 0%;
}
h3{
    color: #5c1e1e;
    font-family: Libre Caslon Display;
    font-size: 22px;
    border-bottom: 0%;
    margin-bottom: 0%;
}
h4{
    font-family: Life Savers;
    font-size: 16px;
    color: aliceblue;
    font-style: normal;
}

.pagination{
    align-items: center;
    border-radius: none;
    border-top: 10px;
}

img{
    width: 40%;
}