h1{
    margin: 50px!important;
    font-family: Georgia,  !important;
    color: #ff6200!important;
    font-size: 100px!important;
    text-align: center!important;

}
body{
    background-color: black!important;
    display: flex!important;
    flex-direction: column!important;
    justify-content: center!important;
    align-items: center!important;
}

img{
    height: 80%!important;
    width: 80%!important;
    align-items: center!important;

}
 .botoes-container {
   flex-wrap: wrap!important;
   gap: 1rem!important;
   display: flex!important;
    justify-content: space-between!important;
    max-width: 60px!important;
    margin: 2rem auto!important;
  }

  .botoes-container a {
    flex: 1 1 calc(50% - 0.5rem)!important; /* 2 por linha com espaçamento */
    line-height: 20ex!important;
    font-size: 30px!important;
    width: 30x!important;


  }

