h1{
  margin: 70px!important;
  font-family: Georgia,  !important;
  color: #ff6200!important;
  font-size: 100px!important;
  text-align: center!important;

}
body{
  background-color: black!important;
  display: flex!important;
  flex-direction: column!important;
  justify-content: center!important;
  align-items: center!important;
}

img{
  height: 80%!important;
  width: 80%!important;
  align-items: center!important;

}


.botoes-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  max-width: 800px;
  margin: 4rem auto;
  height: 600px; /* Altura do container */
  color: #ff6200 !important 

}

.botoes-container a {
  flex: 1 1 calc(50% - 0.5rem); /* 2 por linha com espaçamento */
  width: 700px; /* 70% da largura da tela */
  color: #000000 !important;
  height: 30%;
  font-size: 60px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #ff6200;
}

