h1{
    margin: 50px;
    font-family: Georgia,  ;
    color: #ff6200;
    font-size: 100px;
    text-align: center;

}
body{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img{
    height: 70%;
    width: 70%;
    align-items: center;

}
 .botoes-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    max-width: 600px;
    margin: 2rem auto;
  }

  .botoes-container button {
    flex: 1 1 calc(50% - 0.5rem); /* 2 por linha com espaçamento */
    line-height: 20ex;
    font-size: 30px;
    width: 30x;



  }

